body {
    font-family: 'Shadows Into Light', cursive;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.content h2 {
    color: #3498db;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.content p {
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.content ol {
    margin: 0;
    padding-left: 20px;
    list-style-type: decimal;
}

.content ol li {
    margin-bottom: 10px;
}

